.modal-container{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal-container{
    width: 27.5%;
    height: 75%;
    /* min-height: 50%;
    max-height: 75%;  */
    border-radius: 8px;
    overflow: hidden;
    background-color: #f6f6f6;
    /* box-shadow: 0 4px 12px 4px rgba(0,0,0,.1); */
}

.login-modal-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}