.album-container{
    width: 95%;
    height: auto;
    /* background-color: #f6f6f6; */
    padding: 34px 44px;
    /* margin-bottom: 44px; */
}

.album-loader-container{
    width: 100%;
    padding: 90px 0;
}



/* @media (max-width: 1100px)  
 .home-loader-container{
        width: 100%;
        left: 0;
    } */
