.album-container{
    width: 95%;
    height: auto;
    /* background-color: #f6f6f6; */
    padding: 34px 44px;
    /* margin-bottom: 44px; */
}

.loader-container{
    position: absolute;
    top: 20%;
    left: -7%;
    width: 100%;
}
