.home-section{
    position: absolute;
    top: 64px;
    left: 220px;
    width: calc(100% - 220px);
    height: auto;
    background-color: #f6f6f6;
}

@media (max-width: 1100px) {
    .home-section {
      width: 100%;
      left: 0;
    }
}



