.home-section{
    position: absolute;
    top: 64px;
    left: 220px;
    width: calc(100% - 220px);
    height: auto;
    background-color: #f6f6f6;
    /* height: 100vh; */
}

.home-loader-container{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
}



