.album-poster-container{
    width: 100%;
    /* height: 30%; */
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    color: #3e3e3e;
}

.album-poster-image-section{
    width: 25.5%;
    /* height: 100%; */
    padding-right: 44px;
    /* box-shadow: 0 30px 40px -20px var(--entity-primary-color); */
}

.album-poster-image{
    width: 100%;
    /* height: 100%; */
    border-radius: 4px;
}

.album-poster-description{
    width: 74.5%;   
}

.a-p-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.album-poster-title{
    margin-bottom: 5.5px;
    font-size: 33px;
}

.album-poster-details{
    margin-bottom: 5.5px;
    font-size: .9375em;
    padding: 2.5px 0;
}

.album-poster-artist-name{
    cursor: pointer;
}

.album-poster-copyrights{
    margin-bottom: 22px;
    font-size: .9375em;
    padding: 2.5px 0;
}

.album-poster-controls{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.album-poster-play-btn{
    width: 16%;
    height: 48px;
    padding-top: 10px;
    background-color: #2bc5b4;
    color: #fff;
    text-align: center;
    border-radius: 23px;
    font-size: .933rem;
    cursor: pointer;
    font-size: 1.33rem;
    font-weight: 600;
}

.album-poster-like-btn, .album-poster-options-btn{
    width: 48px;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 50%;
    color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 32px;
}

