.expand-album-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
}

.expand-album-img-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.expand-album-img-section > img{
    width: 350px;
    margin-bottom: 22px;
    border-radius: 4px;
    /* box-shadow: 0 30px 40px -20px #979595; */
}

.expand-album-img-section > h3{
    width: 54.5%;
    text-align: center;
    color: #3e3e3e;
    cursor: pointer;
    font-size: 24px;
    line-height: 1.4;
}

.expand-album-img-section > p{
    width: 54.5%;
    text-align: center;
    color: #3e3e3e;
    cursor: pointer;
    font-size: 17px;
}

.expand-album-queue-section{
    width: 100%;
    overflow: hidden;
    padding-top: 22px;
}

/* .expand-album-queue-section::after{
    background: linear-gradient(hsla(0,0%,96%,0),#f6f6f6 80%,#f6f6f6);
    bottom: 0;
    content: "";
    display: block;
    height: 44px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
} */

@media (max-width: 980px){
    .expand-album-container{
        grid-template-columns: initial;
        grid-template-rows: repeat(2, 1fr);
    }

    .expand-album-queue-section{
        display: flex;
        justify-content: center;
        /* overflow: auto; */
    }
    
}

