.gopro-main-container{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    /* check this for scrolling */
    position: absolute;
    top: 0;
    left: 0;
}

.gopro-header{
    height: 64px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    display: flex;
    justify-content: center;
    background-color: #2a2d3677;
}

.gopro-sub-header{
    width: 74%;
    height: 100%;
    display: flex;
    justify-content: space-between;  
}

.gopro-img-section{
    width: 160px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.gopro-img-section > img{
    width: 50px;
}

.gopro-redeem-account-section{
    display: flex;
    align-items: center;
    gap: 35px;
}

.gopro-redeem{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2d36;
    color: rgba(255,255,255,.84);
    padding: 7px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 22px;
    cursor: pointer;
    border: 1px solid #8b9dbf;
    transition: all .12s ease-out;
}

.gopro-redeem:hover{
    background-color: #fff;
    color: #2a2d36;
    border: 1px solid rgba(255,255,255,.84);
}

.gopro-my-account{
    width: auto;
    height: 100%;
    color: rgba(255,255,255,.84);
    font-size: 16px;
    cursor: pointer;
    transition: all .12s ease-out;
    font-weight: 600;
}

.gopro-my-account span{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.gopro-my-account span:hover{
    padding-bottom: 2px;
    border-top: 3px solid #fff;
}

.gopro-plans-container{
    width: 100%;
    height: auto;
    padding-top: 200px;
    background-color: #2a2d36;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.gopro-plan-grid{
    width: 74%;
    height: 100%;
    padding: 0 100px;
}

.gopro-plan-grid > p{
    width: 100%;
    margin-bottom: 20px;
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
    color: #fff;
    line-height: 1.5;
    /* height: auto; */
}

.gopro-plan-grid > p > span{
    color: #2bc5b4;
}

.gopro-plan-grid > h1{
    width: 100%;
    margin-bottom: 50px;
    font-size: calc(16px * 3);
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
}

.gopro-plan-grid > h1 > a{
    color: inherit;
}

.gopro-plans-card-section{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "yearPlan monthPlan"
    "whyPro whyPro";
}

.gopro-plans-card-section .year-plan{
    grid-area: yearPlan;
    padding-right: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    /* box-shadow: rgba(42,45,54,.075) 0 12px 34px; */
}

.gopro-plans-card-section .month-plan{
    grid-area: monthPlan;
    padding-left: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    /* box-shadow: rgba(0,0,0,.05) 0 6px 15px; */
}

.gopro-plans-card-section .why-pro{
    grid-area: whyPro;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: "pTag payImg payImg";
    /* box-shadow: inset transparent 0 0 0 0; */
}

.gopro-plans-card-section .why-pro > p{
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    font-style: italic;
    display: flex;
    gap: 3px;
    grid-area: pTag;
}
.why-pro > p > .learn-more{
    color: #2bc5b4;
    cursor: pointer;
    transition: all .12s ease-out;
    display: flex;
    align-items: center;
}

.why-pro .why-pro-pay-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    grid-area: payImg;
}

.why-pro .why-pro-pay-img > .paytm-logo{
    width: 64px;
    height: 34px;
}

.why-pro .why-pro-pay-img > .amazon-logo{
    width: 116px;
    height: 20px;   
}

.gopro-main{
    width: 100%;
    height: auto;
    background-color: #fff;
    /* background-color: #f6f6f6; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding-top: 80px;
    padding-bottom: 120px;
    color: #3e3e3e;
    font-weight: 700;
}

.gopro-sub-main{
    width: 74%;
    height: 100%;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gopro-sub-main > .more-with-pro{
    width: 100%;
    text-align: center;
    margin-bottom: 22px;
    font-size: 30px;
    line-height: 1.25;
    font-style: italic;
}


.gopro-sub-main > .gopro-main-table{
    width: 90%;
    margin: 50px 0;
    padding: 0 22px;
    /* background-color: #8b9dbf; */  
}

.gopro-sub-main > .try-pro-now{
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 1.25;
    font-style: italic;
}

.gopro-sub-main > h4{
    width: 100%;
    text-align: center;
    color: #a9a9a9;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    font-style: italic;
    margin-bottom: 18px;
}

.gopro-sub-main > .pick-plan-btn{
    color: #fff;
    background-color: #2bc5b4;
    font-size: 19px;
    cursor: pointer;
    line-height: 2;
    padding: 7px 42px;
    border-radius: 26px;
    transition: all .12s ease-out;
}

.gopro-sub-main > .pick-plan-btn:hover{
    background-color: #56D0C3;  
}

.gopro-footer{
    width: 100%;
    height: 250px;
    background: #2a2d36;
}

.gopro-footer .gopro-footer-angle{
    width: 100%;
    height: inherit;
    background-color: #2a2d36;
    transform: skewY(3.5deg);
    transform-origin: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 7;
}
