.nav-music-container:before {
    bottom: 100%;
    content: "";
    display: block;
    height: 2%;
    left: 0;
    position: absolute;
    width: 100%;
}

.nav-music-container{
    position: fixed;
    z-index: 8;
    top: 68px;
    left: 125px;
    background-color: #fff;
    box-shadow: 0 0 12px 4px rgba(0,0,0,.05);
    width: 58vw;
    height: auto;
    border-radius: 8px;
    padding: 22px;
    color: #3e3e3e;
}

/* .nav-music-container > .nav-music-content{
    width: inherit;
    height: inherit;
} */
 
.nav-music-container > .nav-music-content > .nav-music-header {
    font-size: 24px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid #e9e9e9;
}

.nav-music-container > .nav-music-content > .nav-music-header > h3{
    font-size: 24px;
    text-align: left;
}

.nav-music-container > .nav-music-content > .nav-music-header > .x-mark{
    display: none;
}

.nav-music-collections{
    display: flex;
    gap: 22px;
    width: 100%;
}

.nav-music-type-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-music-type-section h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    margin-bottom: 11px;
}

.nav-music-type-section ul{
    list-style-type: none;
    font-size: 13px;
    margin-bottom: 22px;    
}

.nav-music-type-section ul li {
    line-height: 1.4;
    padding: 5px 0;
    font-weight: 700;
    cursor: pointer;
    color: #646464;
}

.nav-music-view-all{
    display: none;
}

@media (max-width: 1100px) {

    .nav-music-container{
        left: 50px;
    }
}

@media (max-width: 980px) {

    .nav-music-container{
        width: 100%;
        top: 0;
        left: 0;
        bottom: 66px;
        border-radius: initial;
        padding: 0 0 0 22px;
        background-color: #fff;
        display: grid;
        grid-template-rows: 1fr 0.15fr;
    }

    .nav-music-container > .nav-music-content{
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .nav-music-container > .nav-music-content::after{
        background: linear-gradient(hsla(0,0%,100%,0),#fff 80%,#fff);
        bottom: 92px;
        content: "";
        display: block;
        height: 44px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .nav-music-container > .nav-music-content > .nav-music-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 22px;
        margin-right: 22px;
    }
    

    .nav-music-container > .nav-music-content > .nav-music-header > h3{
        font-size: 20px;
    }

    .nav-music-container > .nav-music-content > .nav-music-header > .x-mark{
        font-size: 26px;
        display: block;
        cursor: pointer;
    }

    .nav-music-container > .nav-music-content > .nav-music-collections{
        height: 100%;
        flex-direction: column;
        
    }

    .nav-music-container > .nav-music-content > .nav-music-collections ul li{
        font-weight: 500;
    }
    
    .nav-music-view-all{
        display: block;
        width: 100%;
        padding: 22px;
    }

    .nav-music-view-all > span{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: #fff;
        background-color: #2bc5b4;
        border: 1px solid #2bc5b4;
        border-radius: 22px;
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        line-height: 2.4;
        transition: all .3s ease-in-out;
    }

    .nav-music-view-all > span:hover {
        background-color: #1E897D;
        border: 1px solid #1E897D;
    }
}