.suggestion-container {
    min-width: 215px;
}

.suggestion-container > .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.suggestion-container > .header > h5{  
    text-transform: uppercase;
    color: #707070;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.8333333333;    
}

.suggestion-container > .header > span{  
    width: auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 3px 17px;
    color: #707070;
    font-size: 12px;
    cursor: pointer;
    transition: all .3s ease-in-out;   
}

.suggestion-container > .header > span:hover{  
    border: 1px solid #202020;
    color: #202020;
       
}