.table-row-section{
    display: flex;
    width: 100%;
    height: 59px;
}

.table-row-section .data1{
    width: 70%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
    font-size: 18px;
}

.table-row-section .data2{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e9e9e9;
    font-size: 25px;
}

.table-row-section .data3{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2bc5b4;
    box-shadow: 0 0 12px 4px rgba(45, 197, 180, 0.33);
}