.main-album-content{
    padding-top: 35px;
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
    
}

.main-album-heading{
    margin-bottom: 22px;
    padding-left: 44px;
    font-size: 1.3333333333rem;
    color: #3e3e3e;
}
